<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body class="d-flex flex-column min-vh-100">
    <nav id="navbar" class="navbar navbar-expand-lg" data-bs-theme="dark">
        <%- include('./partials/header'); %>
    </nav>
    <div id="ticker-label-container" class="d-flex flex-row justify-content-start">
        <%- include ('./partials/ticker.ejs'); %>
    </div>
    <div class="currency-selector-wrapper" style="font-size: medium;">
        <select id="currency-selector" aria-label="Currency pair selector" onchange="redirectToCotTable()">
            <option selected>Choose a currency</option>
            <option value="OIL">WTI Crude Oil</option>
            <!-- <option value="XAG">XAG (Silver)</option> -->
            <option value="XAU">XAU (Gold)</option>
            <option value="CAD">CAD</option>
            <option value="CHF">CHF</option>
            <option value="MXN">MXN</option>
            <option value="GBP">GBP</option>
            <option value="JPY">JPY</option>
            <option value="DXY">U.S. Dollar Index</option>
            <option value="EUR">EUR</option>
            <option value="NZD">NZD</option>
            <option value="ZAR">ZAR</option>
            <option value="AUD">AUD</option>
        </select>
        <script src="../public/utils.js"></script>
    </div>
    <div class="main-page-body">
        <div class="container mx-auto table-responsive-lg">
            <table id="table-container" class="table-dark table-bordered text-center caption-top mb-5">
                <thead id="table-head" class="table-dark">
                    <tr>
                        <% if (showTable) { %>
                            <% for (const headerText of headerProperties) { %>
                                <% const headerElement='th' ; %>
                                    <th scope="col">
                                        <%= headerText %>
                                    </th>
                                    <% } %>
                                        <% } %>
                    </tr>
                    <!-- Empty <tr> element, because table is to be populated dynamically by JS script-->
                </thead>
                <tbody id="table-body" class="table-dark table-group-divider">
                    <% if (showTable) { %>
                        <% cotData.forEach((data)=> { %>
                            <tr>
                                <td>
                                    <%= data.date %>
                                </td>
                                <td>
                                    <%= data.longPos %>
                                </td>
                                <td>
                                    <%= data.shortPos %>
                                </td>
                                <td>
                                    <%= data.chngLongPos %>
                                </td>
                                <td>
                                    <%= data.chngShortPos %>
                                </td>
                                <td>
                                    <%= data.pctLongPos %>
                                </td>
                                <td>
                                    <%= data.pctShortPos %>
                                </td>
                                <td>
                                    <%= data.netPositions %>
                                </td>
                            </tr>
                            <% }); %>
                                <% } %>
                </tbody>
                <caption>
                    <!--Empty caption element to be created dynamically by JS script-->
                </caption>
            </table>
        </div>
    </div>
    <!-- <div class="mt-auto">
            <div id="footer" class="container-fluid text-black p-2">
                <div class="row justify-content-around text-center text-md-start">
                    <div class="col-md-2 text-center">
                        <h2 class="fw-bold mt-4">COTTradeViz</h2>
                    </div>
                    <div class="col-md-2">
                        <ul class="list-unstyled">
                            <li class="fw-bold my-1">Features</li>
                            <li><a href="#ticker-container" class="text-decoration-none text-black">Net Position Ticker</a></li>
                            <li><a href="./cot_table.html" class="text-decoration-none text-black">Committment of Traders (COT) Table</a></li>
                            <li><a href="./hist_visualizer.html" class="text-decoration-none text-black">Historical Visualiser</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <ul class="list-unstyled">
                            <li class="fw-bold my-1">Learn More</li>
                            <li><a href="./faqs.html" class="text-decoration-none text-black"></a>FAQs</li>
                            <li><a href="./learn_more.html" class="text-decoration-none text-black"></a>Learn More About the COT Data</li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <ul class="list-unstyled">
                            <li class="fw-bold my-1">About Me</li>
                            <li><a href="" class="text-decoration-none text-black"></a>Reach me on Social Media</li>
                            <li><a href="" class="text-decoration-none text-black"></a>Hire Me!!!</li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <ol class="list-unstyled"><li class="fw-bold my-1">Follow me</li></ol>
                        <ul class="list-unstyled d-flex justify-content-center justify-content-md-start">
                            <li><a target="_blank" href="https://github.com/Koyejooo"><i class="fa-brands fa-github fa-lg" style="color: #000000;"></i></a></li>
                            <li><a target="_blank" href="https://linkedin.com/in/koyejo-adinlewa-05144b107"><i class="fa-brands fa-linkedin fa-lg" style="color: #0072b1;"></i></a></li>
                            <li><a target="_blank" href="https://twitter.com/Its_Koyejo"><i class="fa-brands fa-square-x-twitter fa-lg" style="color: #000000"></i></a></li>
                        </ul>  
                    </div>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center pt-0">
                        <p class="text-center">&copy; 2023 Copyright <a href="#" class="text-black">Kaygeea Solutions</a></p>
                    </div>
                </div>
            </div>
        </div> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>